  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Stay connected with KinKinetics as we continue to push the boundaries of what’s possible in space technology. Follow our progress, participate in our research, and join us in our mission to revolutionize the psychological support systems for space exploration!</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Join Us on Our Journey!</a>
          </div>
      </div>
  </aside>
