<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Stay connected with KinKinetics as we continue to innovate emotional and decision-making support systems for anyone facing isolation or high-pressure situations. Follow our progress, participate in our journey, and help us revolutionize personal support for people everywhere.</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Join Us on Our Mission!</a>
        </div>
    </div>
</aside>
